<nav class="menu">
    <ul class="menu-list">
      <li class="menu-list__item menu-list__logo">
        <a class="menu-list__anchor" href="/">
          FestiVibe
        </a>
      </li>
      <!-- <li class="menu-list__item">
        <a class="menu-list__anchor" href="/">1</a>
      </li>
      <li class="menu-list__item">
        <a class="menu-list__anchor" href="/">2</a>
      </li>
      <li class="menu-list__item">
        <a class="menu-list__anchor" href="/">3</a>
      </li> -->
    </ul>
  </nav>