<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>

  <h1>Hello World!</h1>

  <input id="getCustomLocation" type="text">
  <section id="customLocationSuggestions">
  </section>

  <button id="getUserLocationTrigger">Get location</button>

  <button id="disableUserLocation">Don't share location</button>

  <form action="/" method="POST" enctype="application/x-www-form-urlencoded">
    <input id="userLocation" type="hidden" name="userLocation">
    <button id="submitUserLocation" type="submit" disabled>submit</button>
  </form>

  <script src="../client.js" type="module"></script>
  <% include ../partials/footer %>
</body>


</html>