<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/nav %>

  <h1>Hello World!</h1>
  
  <button id="getUserLocationTrigger">Get location</button>

  <form method="">
    <input id="userLocation" type="hidden" name="userLocation">
    <button id="submitUserLocation" type="submit" disabled>submit</button>
  </form>

  <% include ../partials/footer %>
</body>


</html>